force-app/main/default/flows/DevOps_Event_Handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <description>Handles DevOps Platform Events: routes to assistant or autonomous behaviour</description>
    <interviewLabel>DevOps Event Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DevOps Event Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value><stringValue>LightningFlowBuilder</stringValue></value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Is_Hotfix</targetReference>
        </connector>
        <object>DevOps_Event__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <decisions>
        <name>Check_Is_Hotfix</name>
        <label>Is Hotfix?</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Review_PR_Assistant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Normal PR</defaultConnectorLabel>
        <rules>
            <name>Is_Hotfix_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_Hotfix__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue><booleanValue>true</booleanValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Review_PR_Autonomous</targetReference>
            </connector>
            <label>Hotfix</label>
        </rules>
    </decisions>
    <actionCalls>
        <name>Review_PR_Assistant</name>
        <label>Review PR (Assistant)</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <actionName>GitHubCalloutService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_Slack_Approval</targetReference>
        </connector>
        <inputParameters>
            <name>repoOwner</name>
            <value><stringValue>{!$Record.Repo_Full_Name__c}</stringValue></value>
        </inputParameters>
        <inputParameters>
            <name>repoName</name>
            <value><stringValue>{!$Record.Repo_Full_Name__c}</stringValue></value>
        </inputParameters>
        <inputParameters>
            <name>pullNumber</name>
            <value><elementReference>$Record.PR_Number__c</elementReference></value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Slack_Approval</name>
        <label>Send Slack Approval Request</label>
        <locationX>50</locationX>
        <locationY>500</locationY>
        <actionName>SlackNotificationService</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>channel</name>
            <value><stringValue>#devops-approvals</stringValue></value>
        </inputParameters>
        <inputParameters>
            <name>messageBody</name>
            <value><stringValue>PR #{!$Record.PR_Number__c} analisado pelo Agentforce. Título: {!$Record.PR_Title__c}. Aguardando aprovação.</stringValue></value>
        </inputParameters>
        <inputParameters>
            <name>includeButtons</name>
            <value><booleanValue>true</booleanValue></value>
        </inputParameters>
        <inputParameters>
            <name>prNumber</name>
            <value><elementReference>$Record.PR_Number__c</elementReference></value>
        </inputParameters>
        <inputParameters>
            <name>repoFullName</name>
            <value><elementReference>$Record.Repo_Full_Name__c</elementReference></value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Review_PR_Autonomous</name>
        <label>Review PR (Autonomous)</label>
        <locationX>300</locationX>
        <locationY>350</locationY>
        <actionName>GitHubCalloutService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Merge_And_Deploy_Autonomous</targetReference>
        </connector>
        <inputParameters>
            <name>repoOwner</name>
            <value><stringValue>{!$Record.Repo_Full_Name__c}</stringValue></value>
        </inputParameters>
        <inputParameters>
            <name>repoName</name>
            <value><stringValue>{!$Record.Repo_Full_Name__c}</stringValue></value>
        </inputParameters>
        <inputParameters>
            <name>pullNumber</name>
            <value><elementReference>$Record.PR_Number__c</elementReference></value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Merge_And_Deploy_Autonomous</name>
        <label>Merge and Deploy</label>
        <locationX>300</locationX>
        <locationY>500</locationY>
        <actionName>GitHubMergeService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_Slack_Autonomous_Notification</targetReference>
        </connector>
        <inputParameters>
            <name>repoOwner</name>
            <value><stringValue>{!$Record.Repo_Full_Name__c}</stringValue></value>
        </inputParameters>
        <inputParameters>
            <name>repoName</name>
            <value><stringValue>{!$Record.Repo_Full_Name__c}</stringValue></value>
        </inputParameters>
        <inputParameters>
            <name>pullNumber</name>
            <value><elementReference>$Record.PR_Number__c</elementReference></value>
        </inputParameters>
        <inputParameters>
            <name>commitTitle</name>
            <value><stringValue>Agentforce autonomous deploy - HOTFIX #{!$Record.PR_Number__c}</stringValue></value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Slack_Autonomous_Notification</name>
        <label>Notify Slack (Autonomous)</label>
        <locationX>300</locationX>
        <locationY>650</locationY>
        <actionName>SlackNotificationService</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>channel</name>
            <value><stringValue>#devops-logs</stringValue></value>
        </inputParameters>
        <inputParameters>
            <name>messageBody</name>
            <value><stringValue>🚨 Fix Crítico detectado e resolvido autonomamente. Agentforce analisou PR #{!$Record.PR_Number__c}, verificou cobertura >90%, 0 violações PMD, fez merge e iniciou deploy. Time economizou ~45 minutos.</stringValue></value>
        </inputParameters>
        <inputParameters>
            <name>includeButtons</name>
            <value><booleanValue>false</booleanValue></value>
        </inputParameters>
        <inputParameters>
            <name>prNumber</name>
            <value><elementReference>$Record.PR_Number__c</elementReference></value>
        </inputParameters>
        <inputParameters>
            <name>repoFullName</name>
            <value><elementReference>$Record.Repo_Full_Name__c</elementReference></value>
        </inputParameters>
    </actionCalls>
</Flow>
